<h1>Listing loans</h1>

<table>
  <tr>
    <th>Interest rate</th>
    <th>State</th>
    <th>Maturity date</th>
    <th>Origination date</th>
    <th>Loan type</th>
    <th>Loan amt</th>
    <th>Bank</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render :partial => 'loans', :collection => @loans %>
</table>

<br />

<%= link_to 'New Loan', new_loan_path %>
